In [2]:
# lets Import Pandas
import pandas as pd

### Replace Function: It is used to Replace Old Values with New Values

In [3]:
# lets Create a DataFrame
df = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
                   'B': ['abc', 'bar', 'xyz']})

df

      A    B
0   bat  abc
1   foo  bar
2  bait  xyz

In [4]:
# lets Replace foo with "Ram"
df['A'] = df['A'].replace(('foo'),('Ram'))

df

      A    B
0   bat  abc
1   Ram  bar
2  bait  xyz

### Droplevel Function: It is used to Remove Levels in Multi Level Indexing

In [7]:
df = pd.DataFrame([
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]).set_index([0,1]).rename_axis(['a','b'])
df

       2   3
a b
1 2    3   4
5 6    7   8
9 10  11  12

In [8]:
# lets drop the Level a
df.droplevel('a')

     2   3
b
2    3   4
6    7   8
10  11  12