In [1]:
# lets import pandas
import pandas as pd

In [9]:
# lets Use the Split Function to fetch x
s = "x y z"

print(s.split(' '))
print(s.split(' ')[0]) # to fetch x

['x', 'y', 'z']
x

In [5]:
# lets try split function with a DataFrame
data = pd.read_csv('movie.csv')

# lets check the head of the dataset
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
# lets Use the Split Function to Split the Genres.
data['genres'].str.split('|')

0       [Adventure, Animation, Children, Comedy, Fantasy]
1                          [Adventure, Children, Fantasy]
2                                       [Comedy, Romance]
3                                [Comedy, Drama, Romance]
4                                                [Comedy]
                              ...
9120                          [Adventure, Drama, Romance]
9121                 [Action, Adventure, Fantasy, Sci-Fi]
9122                                        [Documentary]
9123                                             [Comedy]
9124                                        [Documentary]
Name: genres, Length: 9125, dtype: object

In [8]:
# lets Try to Split the Year of Release from the Title of the Movie
# Lets Extract Year of Release from the Movie Title
data['y'] = data['title'].str.split(' ')
data['year'] = data['y'].apply(lambda x: x[-1])

data['year']

0        (1995)
1        (1995)
2        (1995)
3        (1995)
4        (1995)
         ...
9120     (2016)
9121     (2016)
9122     (2016)
9123     (1936)
9124    Unboxed
Name: year, Length: 9125, dtype: object

In [11]:
# lets remove the Opening and Closing Brackets from the String using strip function
data['year'] = data['year'].str.strip(')')
data['year'] = data['year'].str.strip('(')

data['year']

0          1995
1          1995
2          1995
3          1995
4          1995
         ...
9120       2016
9121       2016
9122       2016
9123       1936
9124    Unboxed
Name: year, Length: 9125, dtype: object