In [1]:
#importing pandas for reading dataset

import pandas as pd

In [2]:
#Reading the dataset

data=pd.read_csv("Iris.csv")

## describe() function
1) **Count** returns the number of observations in each column.                                                       
2) **Mean** returns the mean of all the observations of the variable.

3) **standard deviation** returns the standard deviation of the variable.

4) **Min** returns the minimum value in each column.

5) **25 percentile** returns the percentage of observations falling below 25 per cent.

6) **50 percentile** returns the percentage of observations falling below 50 per cent.

7) **75 percentile** returns the number of observations falling below 75 per cent.

8) **max** returns the maximum value present in each column.

In [3]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [4]:
#For description of categorical columns we add an include parameter and specify it to be object.

data.describe(include='object')

                Species
count               150
unique                3
top     Iris-versicolor
freq                 50