In [7]:
from ipywidgets import interact_manual
import plotly.express as px
import seaborn as sns
import pandas as pd

In [2]:
# reading the dataset
data = px.data.gapminder()
data.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [3]:
## Categorical vs Continous Variables

@interact_manual
def viz(x = list(data.select_dtypes('object').columns[1:]),
       y = list(data.select_dtypes('number').columns)[1:]):
    sns.barplot(data[x], data[y])

interactive(children=(Dropdown(description='x', options=('continent', 'iso_alpha'), value='continent'), Dropdo…

In [4]:
## Continous vs Continous Variables

@interact_manual
def viz(x = list(data.select_dtypes('number').columns),
       y = list(data.select_dtypes('number').columns)[1:]):
    sns.scatterplot(data[x], data[y])

interactive(children=(Dropdown(description='x', options=('year', 'lifeExp', 'pop', 'gdpPercap', 'iso_num'), va…

In [5]:
data = px.data.tips()
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
## Categorical vs Categorical Variables

@interact_manual
def viz(x = list(data.select_dtypes('object').columns),
       y = list(data.select_dtypes('object').columns)[1:]):
    pd.crosstab(data[x], data[y]).plot(kind = 'bar', stacked = True)

interactive(children=(Dropdown(description='x', options=('sex', 'smoker', 'day', 'time'), value='sex'), Dropdo…