In [5]:
#importing libraries
import pandas as pd
from ipywidgets import interact

In [2]:
#Reading the dataset
data=pd.read_csv('employee.csv')
data.shape

(1470, 35)

In [3]:
# lets check the head of the dataset
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
data[['Age','Department']].groupby(data['Department']).agg('mean')

                              Age
Department
Human Resources         37.809524
Research & Development  37.042664
Sales                   36.542601

In [7]:
@interact
def groupby(column=list(data.select_dtypes('object').columns)):
    return data[['Age',column]].groupby([data[column]]).agg(['mean'])

interactive(children=(Dropdown(description='column', options=('Attrition', 'BusinessTravel', 'Department', 'Ed…

In [8]:
@interact
def groupby(column = list(data.select_dtypes('object').columns),
            index = list(data.select_dtypes('number').columns)):
    return data[[index, column]].groupby([data[column]]).agg(['mean'])

interactive(children=(Dropdown(description='column', options=('Attrition', 'BusinessTravel', 'Department', 'Ed…