In [10]:
students_marks={'Ram':{"Maths":75,"Science":80,"English":78},
                 "Shyam":{"Maths":60,"Science":65,"English":70},
                  "Mohan":{"Maths":80,"Science":50,"English":68}}

In [11]:
students_marks

{'Ram': {'Maths': 75, 'Science': 80, 'English': 78},
 'Shyam': {'Maths': 60, 'Science': 65, 'English': 70},
 'Mohan': {'Maths': 80, 'Science': 50, 'English': 68}}

In [12]:
print(students_marks["Mohan"])

{'Maths': 80, 'Science': 50, 'English': 68}

In [13]:
print(students_marks["Mohan"]["Maths"])

80

In [14]:
students_marks["Rohan"]={}
students_marks["Rohan"]["Maths"]=79
students_marks["Rohan"]["Science"]=80
students_marks["Rohan"]["English"]=90

In [15]:
print(students_marks["Rohan"])

{'Maths': 79, 'Science': 80, 'English': 90}

In [16]:
students_marks.pop("Shyam")

{'Maths': 60, 'Science': 65, 'English': 70}

In [17]:
students_marks

{'Ram': {'Maths': 75, 'Science': 80, 'English': 78},
 'Mohan': {'Maths': 80, 'Science': 50, 'English': 68},
 'Rohan': {'Maths': 79, 'Science': 80, 'English': 90}}

In [18]:
for name,subjects in students_marks.items():
    print("Name of student", name)
    for marks in subjects:
        print(marks,":",subjects[marks])

Name of student Ram
Maths : 75
Science : 80
English : 78
Name of student Mohan
Maths : 80
Science : 50
English : 68
Name of student Rohan
Maths : 79
Science : 80
English : 90